.dashboard {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  padding: 0 2rem;
  /* background-color: aquamarine; */
  font-size: 2rem;
}

.dashboard .my-up-coming-events h2 {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.dashboard .my-up-coming-events {
  text-align: center;
  margin-top: 2rem;
}
.dashboard .new-events-nearby {
  overflow-y: auto;
  height: 900px;
  direction: ltr;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.dashboard .new-events-nearby h4 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 2.2rem;
}

.border {
  border-left: 6px solid #d6d5a8;
  height: 132%;
  position: absolute;
  left: 22%;
  margin-top: 3.26%;
  margin-left: -3px;
  top: 0;
}

.my-up-coming-events-list {
  flex-wrap: wrap;
  display: flex;
  /* background-color: aquamarine; */
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 3.5rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  padding: 2rem;
  cursor: pointer;
  width: 28%;
  border-radius: 6px;
}
