.navbar {
  display: grid;
  /* justify-content: space-between; */
  /* gap: 5rem; */
  grid-template-columns: 0.7fr 0.3fr;
  align-items: center;
  background-color: #1b2430;
  max-width: 100%;
  padding: 0 2.5rem;
  color: #816797;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.navbar ul {
  display: flex;
  /* background-color: red; */
  padding: 2rem 0;
  gap: 3rem;
  /* margin: 0 auto; */
}

.navbar ul li a {
  color: #d6d5a8;
  transition: all 0.4s;
  font-size: 2.35rem;
}
.navbar ul li a:hover {
  color: #fbfbf6;
}
.navbar .events-logos {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5rem;
}
.navbar .events-logos .logo {
  display: flex;
  gap: 1rem;
}
.navbar .events-logos .logo img {
  width: 38px;
}
.navbar .events-logos .logo h2 {
  color: #816797;
}

.navbar ul:last-child {
  /* background-color: black; */
  justify-self: flex-end;
}
